.fon { 
    font-family:Arial; 
    font-size:20px; 
    background-image: url(/images/ground.jpg);
    background-repeat: repeat;
    background: #000000 url(../images/ground.jpg) repeat;
}

.table {
    display: table;
}

.about {
    border: 0; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 200px;
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
}

.signature {
    text-align: right;
}

.signatures {
    margin-top: 20px;
}
