body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
#cr-stage { border:2px solid black; margin:5px auto; color:white }
body {
    background-image: url(/images/ground.jpg);
    background-repeat: repeat;
    background: #000000 url(../images/ground.jpg) repeat;
}

